*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    background-color: #084F8C;
    color: #fff;
    padding: 10px;
}

.menu{
    background-color: #F29422;
    display: flex;
}

.header{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;    
}

nav ul{
    display: flex;
    list-style: none;
    background-color: azure;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

/* nav ul li{
    margin: 0px 10px;
} */