div{
    background-color: red;
    margin:10px;
    padding: 10px;
    display: inline-block;
    width: 300px;
}

img{
    display: block;
    border: 2px solid black;
    margin:10px;
}

a{
    display: block;
    background-color: blueviolet;
    color: white;
    margin: 10px;
}

.apagar{
    display: none;
}